body {
    font-family: arial, Helvetica;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none !important;
    outline: none !important;
}

li {
    list-style: none;
}

.board-con {
    background-color: #0067A3;
    border-radius: 5px;
    height: 150px;
}

.board-star {
    font-size: 20px !important;
    top: 27px !important;
}

.board-title {
    padding-left: 20px;
    color: #FFFFFF;
}

h1 .starred-boards {
    font-size: 22px;
    top: -2px;
    margin-right: 15px;
}

.boards-col {
    margin-top: 28px;
}

.board-create {
    background-color: #E2E4E6;
    border-radius: 5px;
    height: 150px;
}

.board-link, .board-create { 
    border-radius: 5px;
    height: 115px;
    background-color: #0079BF;
    color: white;
    margin-bottom: 20px;
}

.board-create {
    background-color: #E2E4E6 !important;
}

.board-link:hover {
    background-color: #005B90;
}

.board-create-link {
    font-size: 20px;
    color: #959596;
}

.board-create-link:hover {
    color: #959596;
    text-decoration: none;
}

.board-create-head {
    margin-top: 30px;
    padding-left: 33px;
}

.my-board {
    margin-top: 38px;
}

.dingo-dropdown {
    width: 325px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    padding: 8px !important;
}

.brand-logo {
    font-size: 18px;
    font-family: Leelawadee;
    font-weight: bold;
}

.brand-logo span {
    position: relative;
    top: 4px;
}

.brand-logo-con {
    width: 500px;
    margin-left: 370px;
    position: relative;
    top: 5px;
}

.profile-dropdown {
    width: 325px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    padding: 8px !important;
}

.tm70 {
    margin-top: 70px;
}

.panel-custom {
    border-color: #9F9F9F;
    border-style: dashed;
    border-radius: 6px;
    background-color: #EFEFEF;
}

.dingo-dropdown .panel-title a {
    text-decoration: none;
}

.board-panel-title {
    cursor: text;
    padding-bottom: 3px;
    font-size: 17px;
    font-weight: 800;
}

.board-list-items {
    margin-bottom: 7px;
    border-radius: 3px;
}
.container {
    width: 100%;
}
.row {
    margin: 0;
}
.bcategory-list {
    width: 330px;
    float: left;
    margin: 0 10px;
}

.horizontal-container {
    padding: 5px 0px 0px 20px;
    height: 565px;  
    /*overflow-x: scroll;*/
    /*width: 100% !important;*/
}

.horizontal-row {
    display: inline-flex;
}

.well-cus {
    border-radius: 0px !important;
    height: 205px;
}

.profile-img {
    background-color: rgba(146, 146, 146, 0.78);
    height: 100px;
    border-radius: 4px;
}

.profile-img-con {
    padding: 0;
}


.user-pro-name {
    margin: 0;
}

.edit-user-data-btn {
    margin-top: 20px;
}

a.nav-profile {
    border-bottom: 0px !important;
    border-radius: 4px 4px 1px 1px !important;
}

.nav-profile-con {
    margin-top: 47px;
}

.close-input-field {
    font-size: 25px;
    top: 8px;
    left: 25px;
    cursor: pointer;
}

/* Ajax Loading animation*/

#loadingbar {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background: #b91f1f;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#loadingbar.left {
  left: 100%;
  right: 0px;
  width: 100%;
}

#loadingbar.up {
  left: 0px;
  top: 100%;
  width: 5px;
  bottom: 0px;
  height: 100%;
}

#loadingbar.down {
  left: 0;
  width: 5px;
  height: 0;
}

#loadingbar.waiting dd, #loadingbar.waiting dt {
  -moz-animation: pulse 2s ease-out 0s infinite;
  -ms-animation: pulse 2s ease-out 0s infinite;
  -o-animation: pulse 2s ease-out 0s infinite;
  -webkit-animation: pulse 2s ease-out 0s infinite;
  animation: pulse 2s ease-out 0s infinite;
}

#loadingbar dt {
opacity: .6;
width: 180px;
right: -80px;
clip: rect(-6px,90px,14px,-6px);
}

#loadingbar dd {
  opacity: .6;
  width: 20px;
  right: 0;
  clip: rect(-6px,22px,14px,10px);
}

#loadingbar dd, #loadingbar dt {
  position: absolute;
  top: 0;
  height: 2px;
  -moz-box-shadow: #b91f1f 1px 0 6px 1px;
  -ms-box-shadow: #b91f1f 1px 0 6px 1px;
  -webkit-box-shadow: #B91F1F 1px 0 6px 1px;
  box-shadow: #B91F1F 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loadingbar.left dt {
opacity: .6;
width: 180px;
left: -4px;
clip: rect(-6px,185px,14px,25px);
}

#loadingbar.left dd {
  opacity: .6;
  width: 20px;
  left: 0;
  margin: 0;
  clip: rect(-6px,22px,14px,0px);
}

#loadingbar.left dd, #loadingbar.left dt {
  top: 0;
  height: 2px;
}

#loadingbar.down dt {
  opacity: .6;
  height: 180px;
  top: auto;
  bottom: -47px;
  clip: rect(-6px,20px,130px,-6px);
}

#loadingbar.down dd {
  opacity: .6;
  height: 20px;
  top: auto;
  bottom: 0;
  clip: rect(-6px,22px,20px,10px);
  margin: 0;
}

#loadingbar.down dd, #loadingbar.down dt {
  left: -5px;
  right: auto;
  width: 10px;
}

#loadingbar.up dt {
  opacity: .6;
  height: 180px;
  bottom: auto;
  top: -10px;
  clip: rect(13px,20px,190px,-6px);
}

#loadingbar.up dd {
  opacity: .6;
  height: 20px;
  bottom: auto;
  top: 0;
  clip: rect(-6px,22px,25px,10px);
  margin: 0;
}

#loadingbar.up dd, #loadingbar.up dt {
  left: -5px;
  right: auto;
  width: 10px;
}

@keyframes pulse {
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-moz-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-ms-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-webkit-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

/* Stop Ajax loading animation*/

.card-con {
  min-height: 10px;
}

.list-group-item a {
    color: #4d4d4d !important;
}

.list-group-item:hover {
    background-color: #d6dadc;
    cursor: pointer;
}

.frame {
    overflow-y: auto;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.card-list-con {
    max-height: 455px !important;
    background-color: whitesmoke;
}

.dashed-placeholder {
    border: 2px dashed #999;
    width: 298px;
    height: 42px;
    background: #ccc;
    margin-bottom: 5px;
/*    margin: 10px 0px 50px 0px;
    padding: 8px 0px 10px 6px;*/
}

.addSubTaskCon {
    padding: 0px 20px 30px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sub-task-content {
    font-size: 13px;
    font-weight: 600;
    font-family: monospace;
    font-style: italic;
    line-height: 1.5em;
    color: rgb(95, 90, 85);
}

.delete-task {
  color: #a94442;
  display: none;
}

/* Comment */

.detailBox {
    margin-bottom: 15px;
}
.comment-user-name h1{
  margin: 0 !important;
  font-size: 17px;
  font-weight: 600;
  font-family: tahoma;
  text-transform: capitalize;
}
ul.commentList {
  padding-left: 0px;
}
ul.commentList li {
  margin-bottom: 15px;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding: 10px 0px 10px 0px;
}

.input-editable {
  display: block;
  border-bottom: 1px dashed;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  box-shadow: none;
}

.input-editable:hover {
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  box-shadow: none; 
}

.tags-input {
    width: 255px;
}

.select-input {
  width: 185px !important; 
}

.x-editable-input {
    width: 220px !important;
}

.commentList {
    max-height: 235px;
    overflow: scroll;
}
