body {
    font-family: 'Lato';
}

a {
    text-decoration: none !important;
}

.board-con {
    background-color: #0067A3;
    border-radius: 5px;
    height: 150px;
}

.board-star {
    font-size: 20px !important;
    top: 27px !important;
}

.board-title {
    padding-left: 20px;
    color: #FFFFFF;
}

h1 .starred-boards {
    font-size: 22px;
    top: -2px;
    margin-right: 15px;
}

.boards-col {
    margin-top: 28px;
}

.board-create {
    background-color: #E2E4E6;
    border-radius: 5px;
    height: 150px;
}

.board-create-link {
    font-size: 20px;
    color: #959596;
}

.board-create-link:hover {
    color: #959596;
    text-decoration: none;
}

.board-create-head {
    margin-top: 45px;
    padding-left: 19px;
}

.my-board {
    margin-top: 38px;
}

.dingo-dropdown {
    width: 325px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    padding: 8px !important;
}

.brand-logo {
    font-size: 18px;
    font-family: Leelawadee;
    font-weight: bold;
}

.brand-logo span {
    position: relative;
    top: 4px;
}

.brand-logo-con {
    width: 500px;
    padding-left: 250px;
    position: relative;
    top: 5px;
}

.profile-dropdown {
    width: 325px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    padding: 8px !important;
}

.tm80 {
    margin-top: 50px;
}

.panel-custom {
    border-color: #9F9F9F;
    border-style: dashed;
    border-radius: 6px;
    background-color: #EFEFEF;
}

.dingo-dropdown .panel-title a {
    text-decoration: none;
}

.user-board-title, .user-board-privacy-type {
    font-size: 18px;
}

.user-board-title span, .user-board-privacy-type span {
    top: 2px;
}

.user-board-privacy-type, .user-board-privacy-type:hover, .user-board-privacy-type:visited {
    color: #333333;
}

.board-panel-title {
    font-size: 17px;
    font-weight: 800;
}

.board-list-items {
    margin-bottom: 7px;
    border-radius: 3px;
}
.container {
    width: 100%;
}
.row {
    margin: 0;
}
.bcategory-list {
    width: 330px;
    float: left;
    margin: 0 10px;
}

.horizontal-container {
    padding: 5px 19px;
    overflow-x: scroll;
    width: 100% !important;
}

.horizontal-row {
    display: inline-flex;
}

.well-cus {
    border-radius: 0px !important;
    height: 205px;
}

.profile-img {
    background-color: rgba(146, 146, 146, 0.78);
    height: 100px;
    border-radius: 4px;
}

.profile-img-con {
    padding: 0;
}


.user-pro-name {
    margin: 0;
}

.edit-user-data-btn {
    margin-top: 20px;
}

a.nav-profile {
    border-bottom: 0px !important;
    border-radius: 4px 4px 1px 1px !important;
}

.nav-profile-con {
    margin-top: 47px;
}