div.tagit {
    border: 1px solid #ccc;
    border-radius: 4px;
    
    background: #FFF;
    /*border: 1px solid #CCC;*/
    overflow-y: auto;
    padding: 6px 5px 1px 5px;
    width: 600px;
}
div.tagit div {
    overflow: visible;
}
div.tagit input {
    border: 1px solid transparent;
    color: #000;
    margin: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    outline: 0;
    padding: 5px;
    width: 40%;
}
div.tagit span.tag {
    padding: 0.2em 18px .2em .5em;
    box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px inset;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(196, 196, 196)), to(rgb(237, 237, 237)));
    border: 1px solid #B6B6B6;
    font-weight: normal;
    color: #4F4F4F;
    border-radius: 4px;
    margin-top: 2px;

    /*background: #317eac; */
    /*border: 1px solid white;*/
    /*-moz-border-radius: 12px;*/
    /*-webkit-border-radius: 12px;*/
    /*border-radius: 12px;*/
    /*color: white;*/
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    /*padding: 6px;*/
}

div.tagit span.tag a {
    color: #4F4F4F;
    font-size: 14px !important;
    position: relative;
    right: -10px;
    font-family: tahoma;

    /*color: white;*/
    /*font-size: 14px;*/
    font-weight: bold;
    text-decoration: none;
} 
.tagit .error {
    /*background: #FBD8DB;
    color: #90111A;*/
}